{
  "presets": [
    "stage-0",
    "react",
    "es2015"
  ],
  "plugins": [
    "lodash",
    "flow-react-proptypes",
    "transform-class-properties",
    "transform-react-flow-handled-props"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
